body{
	background-color: #DFDFDF;
}
*{
	background-color: #91909B;
}

.jumbotron{
	background-color: #41495D;
	color:black;
	margin-top: 50px;
}
.footer{
	padding: 10px 10px 0 10px;
	background-color: $yellow;
	margin-bottom: 0px;
	margin-top: 10px;
}
.btn{
	color:white;
	background-color: black;
}
.row{
	background-color: yellow;
}
.card-hoteles{
	flex: 1 150px;
	padding:2px 0px 2px 0px; 
	margin-bottom: 3px;

	margin-top: 10px;
}
.btn-reserva{
	width:100%;
	border-radius: 0px;

}
.Tith1{
	font-family: 'Poppins', sans-serif;
	margin-top: 160px;
}
.textp{
	font-family: 'Arvo', serif;
	

}
.colorfo{
	color:black;
}
.footer-address-icon{
	padding-right:10px; 
}
.com{
	margin-left:10%;margin-right:10%;
}
.inpu{
	width:60%
}
.tables{
	margin-top: 1%;
	padding-left: 1%;
	padding-right: 1%;
	margin-right: 1%;
}
.tab-content{
	padding-top: 10px;
}
#myTab{
	padding-top: 10px;
}