body {
  background-color: #DFDFDF;
}
* {
  background-color: #10DE10;
}
.jumbotron {
  background-color: #efeeb8;
  color: #040404;
  margin-top: 10px;
  margin-bottom: 0px;
}
.footer {
  padding: 10px 10px 0 10px;
  background-color: #efeeb8;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn {
  color: white;
  background-color: #DE1010;
}
.row {
  background-color: yellow;
}
.card-hoteles {
  flex: 1 150px;
  padding: 2px 0px 2px 0px;
  margin-top: 10px;
  margin-bottom: 3px;
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
.Tith1 {
  font-family: 'Poppins', sans-serif;
  margin-top: 160px;
  margin-bottom: 0px;
}
.textp {
  font-family: 'Arvo', serif;
}
.colorfo {
  color: black;
}
.footer-address-icon {
  padding-left: 0px;
  padding-right: 10px;
}
.com {
  padding-left: 10%;
  padding-right: 10%;
}
.inpu {
  width: 60%;
}
.tables {
  margin-top: 1%;
  padding-left: 1%;
  padding-right: 1%;
  margin-right: 1%;
}
.tab-content {
  margin-top: 10px;
  margin-bottom: 0px;
}
#myTab {
  padding-top: 10px;
}
