@yellow: #efeeb8;
@red: #DE1010;
@green:#10DE10;
@black:#040404;
.margenes(@top:0px,@bottom:0px){
  margin-top: @top;
  margin-bottom: @bottom;
}
.padding(@left:1%,@right:1%){
  padding-left: @left;
  padding-right: @right;
}

body {
  background-color: #DFDFDF; }

* {
  background-color: @green; }

.jumbotron {
  background-color: @yellow;
  color: @black;
  .margenes(10px,0px);
  }

.footer {
  padding: 10px 10px 0 10px;
  background-color: @yellow;
  .margenes(10px,0px);
   }

.btn {
  color: white;
  background-color: @red; }

.row {
  background-color: yellow; }

.card-hoteles {
  flex: 1 150px;
  padding: 2px 0px 2px 0px;
  .margenes(10px,3px);
   }
  

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.Tith1 {
  font-family: 'Poppins', sans-serif;
  .margenes(160px,0px);
   }

.textp {
  font-family: 'Arvo', serif; }

.colorfo {
  color: black; }

.footer-address-icon {
 .padding(0px,10px); }

.com {
  .padding(10%,10%);
  }

.inpu {
  width: 60%; }

.tables {
  margin-top: 1%;
  .padding(1%,1%);
  margin-right: 1%; }

.tab-content {
  margin-top: 10px;
  margin-bottom: 0px; }

#myTab {
  padding-top: 10px; }
