$yellow: #efeeb8;
$red: #DE1010;
$green:#10DE10;
$black:#040404;
@mixin margenes($top,$bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}
@mixin padding($left,$right){
	padding-left: $left;
	padding-right: $right;
}
body{
	background-color: #DFDFDF;
}
*{
	background-color: $green;
}

.jumbotron{
	background-color: $yellow;
	color:$black;
	@include margenes(50px,0px);
}
.footer{
	padding: 10px 10px 0 10px;
	background-color: $yellow;
	@include margenes(10px,0px);
}
.btn{
	color:white;
	background-color: $red;
}
.row{
	background-color: yellow;
}
.card-hoteles{
	flex: 1 150px;
	padding:2px 0px 2px 0px; 
	margin-bottom: 3px;

	margin-top: 10px;
}
.btn-reserva{
	width:100%;
	border-radius: 0px;

}
.Tith1{
	font-family: 'Poppins', sans-serif;
	@include margenes(160px,0px);
}
.textp{
	font-family: 'Arvo', serif;
	

}
.colorfo{
	color:black;
}
.footer-address-icon{
	@include padding(0px,10px);
}
.com{
	margin-left:10%;margin-right:10%;
}
.inpu{
	width:60%
}
.tables{
	margin-top: 1%;
@include padding(1%,1%);
	margin-right: 1%;
}
.tab-content{
	@include margenes(10px,0px);
}
#myTab{
	padding-top: 10px;
}